<!DOCTYPE html>
<html lang='en' ng-app='Angular'>
    <head>
        <title>Github Search</title>
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
        <link rel='stylesheet' href="./css/style.css" >
        <link rel='stylesheet' href='https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css'>
        <script type='text/javascript' src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
        <script type='text/javascript' src='https://code.jquery.com/ui/1.11.1/jquery-ui.js'></script>
        <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js'></script>
    </head>
    <body ng-controller='AngularController'>
        <div class='main-body'>
            <p class='page-title'>Github Profile Search Engine</p>
            <div class='searchbox-container'> 
                <form ng-submit='loadUser()'>
                    <input ng-model='username_input' type='text' class='username_input' placeholder='Github username...' autofocus >
                    <button type='submit' class='search-button'>Search</button> 
                </form> 
            </div>
            <div class='spinner spinner-container'>
                <img src='./images/loader-icon.gif' >
            </div>
            <div class='profile-container'>
                <div class='profile'>
                    <div class='avatar-image-container '>
                        <img ng-src='{{ avatar }}' class='avatar-image' alt='user-avatar' />
                    </div>
                    <div class='user-data'>
                        <div class='user-title'>
                            <a href='{{ user_url }}' title="Visit {{username}}'s Github page" class='user-title-link'>{{ username }}</a>
                        </div>    
                        <span class='info-item'>User ID: {{ user_id }}</span>
                        <div class='dot-container'>•</div>
                        <span class='info-item'>Following: {{ following }}</span>
                        <div class='dot-container'>•</div>
                        <span class='info-item'>Followers: {{ followers }}</span><br/>
                        <span class='info-item'>Public Repos: {{ repos }}</span>
                        <div class='dot-container'>•</div>
                        <span class='info-item'>Public Gists: {{ gists }}</span>
                    </div>
                </div>
            </div>
           <div class='system-massage-container'>
                <p class='system-message'></p>
            </div>
        </div>
    </body>
    <script>

        angular.module('Angular', []);

        function AngularController($scope, $http) {
            angular.element(document).ready(function () {
                $scope.loadUser = function() {
                    if ($scope.username_input) {
                        $('.profile').fadeOut(200, function() {
                            $('.spinner-container').fadeIn(20, function() {
                                $('.system-message').fadeOut(50).text("");
                                $http.get('https://api.github.com/users/' + $scope.username_input + "?access_token=<%= ENV['GITHUB_TOKEN']%>")
                                    .success(function(userData) {
                                            $scope.avatar = userData.avatar_url;
                                            $scope.user_id = userData.id;
                                            $scope.following = userData.following;
                                            $scope.followers = userData.followers;
                                            $scope.repos = userData.public_repos;
                                            $scope.gists = userData.public_gists;
                                            $scope.username = userData.login;
                                            $scope.user_url = userData.html_url;
                                            $('.profile').fadeIn(200, function() {
                                                $('.spinner-container').fadeOut(50);
                                                $('.system-message').fadeOut(50).text('');
                                            });
                                    }).error(function(profileData) {
                                        $('.spinner-container').fadeOut(20, function() {
                                            $('.system-message').fadeIn(50).text('Sorry, could not find a user by that name');
                                        });
                                    }).finally(function() {
                                        $scope.username_input = '';
                                    });
                            });
                        });
                    };
                };
            });
        };

        $(function() {
            $('.user-title-link').tooltip({ 
                position: { my: 'center top-54px', at: 'center center' }, 
                show: { effect: 'fadeIn', duration: 200 },
                hide: { effect: 'fadeOut', duration: 100 }
            });
        });

        $(document).ready(function() {
            $('.main-body').fadeIn(400);
        });

    </script>
</html>

